* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  font-family: "Lato-7";
  src: url("../fonts/Lato/Lato-Bold.ttf");
}
@font-face {
  font-family: "Raleway-5";
  src: url("../fonts/Raleway/static/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Raleway-6";
  src: url("../fonts/Raleway/static/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Raleway-7";
  src: url("../fonts/Raleway/static/Raleway-Bold.ttf");
}
nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 4000;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 93px;
  align-items: center;
}
.navbar__logo {
  width: 122px;
  height: 53px;
}
.navbar__checkbox {
  display: none;
}
.navbar__menu {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.navbar__menu-item__link {
  color: #282b22;
  font-family: "Raleway-5";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  outline: none;
}
.navbar__menu-item__link:hover {
  color: #AE7B3C;
}
.navbar__socials {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.navbar__socials-link__icon {
  color: #AE7B3C;
  font-size: 20px;
}
.navbar__socials-link__icon:hover {
  color: #282b22;
}
.navbar__phone {
  display: flex;
  align-items: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.navbar__phone-icon {
  width: 22px;
  height: 22px;
}
.navbar__phone-icon__img {
  width: 22px;
  height: 22px;
}
.navbar__phone-link {
  color: #3D4A39;
  font-family: "Lato-7";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
}
.navbar__remove {
  display: none;
}
.navbar__open {
  display: none;
}

.navbar__btn {
  display: none;
}

.navbar__checkbox:checked ~ .navbar__remove {
  display: block;
  z-index: 2000;
  position: fixed;
  top: 33px;
  right: 23px;
}

.hero {
  margin-top: 93px;
  background-image: url("../imgs/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: 100%;
  height: 687px;
  padding-top: 120px;
  position: relative;
  pointer-events: none;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 120px;
  border-bottom: 1px solid white;
  position: relative;
  z-index: 2000;
}
.hero__content-title {
  color: white;
  max-width: 446px;
  text-align: center;
  font-family: "Lato-7";
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  text-transform: uppercase;
}
.hero__content-subtitle {
  color: white;
  max-width: 537px;
  text-align: center;
  font-family: "Raleway-5";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-top: 20px;
  margin-bottom: 50px;
}
.hero__content-btn {
  background: #AE7B3C;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 60px;
  color: white;
  font-family: "Raleway-7";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  border-radius: 2px;
}
.hero__footer {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 45px;
  align-items: center;
  position: relative;
  z-index: 2000;
}
.hero__footer-rows {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  position: relative;
  z-index: 2000;
}
.hero__footer-rows__previous, .hero__footer-rows__next {
  font-size: 15px;
  width: 20px;
  color: white;
  position: relative;
  z-index: 2000;
}
.hero__footer-numbers {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.hero__footer-numbers__box {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #515458;
  color: #515458;
  border-radius: 50%;
  font-size: 16px;
  font-style: normal;
  font-size: "Lato-7";
  font-weight: 500;
  line-height: 100%;
  cursor: pointer;
  transition: 0.4 linear;
}
.hero__footer-numbers__box:hover {
  color: #fff;
  border: 1px solid #fff;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) -13.19%, rgba(0, 0, 0, 0.85) 94.01%);
}

@media (max-width: 992px) {
  nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4000;
    background-color: white;
  }
  .container {
    padding: 0 20px;
  }
  .navbar__logo {
    width: 122px;
    height: 53px;
  }
  .navbar__menu {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .navbar__menu-item__link {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }
  .navbar__socials {
    display: flex;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .navbar__socials-link__icon {
    font-size: 20px;
    color: #AE7B3C;
  }
  .navbar__phone {
    display: flex;
    align-items: center;
  }
  .navbar__phone-icon__link {
    width: 22px;
    height: 22px;
  }
  .navbar__phone-link {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4000;
    background-color: white;
  }
  .container {
    padding: 0 20px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .navbar__menu {
    visibility: hidden;
    width: 50%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 25px;
    padding-top: 123px;
    padding-left: 26px;
    top: 0;
    right: 0;
    height: 100vh;
    transform: translateX(120%);
    transition: 0.4s all;
    background: #fff;
    z-index: 1;
  }
  .navbar__open {
    display: block;
  }
  .navbar__socials {
    z-index: 3000;
  }
  .navbar__phone {
    z-index: 3000;
  }
  .navbar__checkbox:checked + .navbar__menu {
    visibility: visible;
    transform: translateX(0);
  }
}
@media (max-width: 576px) {
  nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4000;
    background-color: white;
  }
  .navbar__menu {
    width: 100%;
    background-color: #fff;
    top: 93px;
    padding-top: 100px;
    align-items: flex-start;
  }
  .navbar__socials {
    position: fixed;
    top: 60%;
    left: 6%;
    transform: translateX(1200%);
    transition: 0.4s all;
    visibility: hidden;
  }
  .navbar__checkbox:checked ~ .navbar__socials {
    transform: translateX(0);
    visibility: visible;
  }
  .navbar__phone {
    position: fixed;
    top: 73%;
    left: 6%;
    transform: translateX(500%);
    transition: 0.4s all;
    visibility: hidden;
  }
  .navbar__checkbox:checked ~ .navbar__phone {
    transform: translateX(0);
    visibility: visible;
  }
  .navbar__checkbox:checked ~ .navbar__btn {
    display: block;
  }
  .navbar__checkbox:checked ~ .navbar__btn button {
    background-color: #AE7B3C;
    background-color: #AE7B3C;
    color: white;
    font-family: "Lato-7";
    border: 2px solid #AE7B3C;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    border-radius: 5px;
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 3s all;
    position: fixed;
    top: 80%;
    z-index: 5000;
    right: 23%;
    visibility: visible;
  }
  .navbar__remove {
    display: none;
  }
  .navbar__checkbox:checked ~ .navbar__open {
    display: none;
  }
  .hero {
    height: 85vh;
    padding-top: 70px;
  }
  .hero__content {
    padding-bottom: 62px;
  }
  .hero__content-title {
    font-family: "Lato-7";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    max-width: 296px;
  }
  .hero__content-subtitle {
    font-family: "Raleway-5";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    max-width: 300px;
    margin-top: 28px;
    margin-bottom: 30px;
  }
  .hero__content-btn {
    width: 100%;
    height: 70px;
  }
  .hero__footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero__footer-rows {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */