@font-face {
    font-family: 'Lato-7';
    src: url('../fonts/Lato/Lato-Bold.ttf');
}
@font-face {
    font-family: 'Raleway-5';
    src: url('../fonts/Raleway/static/Raleway-Medium.ttf');
}
@font-face {
    font-family: 'Raleway-6';
    src: url('../fonts/Raleway/static/Raleway-SemiBold.ttf');
}


