.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 93px;
  align-items: center;

  &__logo {
    width: 122px;
    height: 53px;
  }
  &__checkbox {
    display: none;
  }
  &__menu {
    display: flex;
    column-gap: 40px;
    &-remove {
      display: none;
    }

    &-item {
      &__link {
        color: $text-color;
        font-family: $font-raleway-5;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        text-decoration: none;
        outline: none;
      }
      &__link:hover {
        color: $primary-btn-bg;
      }
    }
  }
  &__socials {
    display: flex;
    column-gap: 15px;
    &-icon {
      color: $primary-btn-bg;
      width: 24px;
      height: 24px;
      font-size: 20px;
    }
    &-icon:hover {
      color: $text-color;
    }
  }
  &__phone {
    display: flex;
    align-items: center;
    column-gap: 7px;
    &-icon {
      width: 22px;
      height: 22px;

      &__img {
        width: 22px;
        height: 22px;
      }
    }
    &-link {
      color: $primary-section-bg;
      font-family: $font-lato-7;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      text-transform: uppercase;
      outline: none;
      text-decoration: none;
    }
  }

  &__open {
    display: none;
  }
}

@include for-tablet {
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .navbar {
    &__logo {
      width: 122px;
      height: 53px;
      z-index: 2000;
    }
    &__menu {
      column-gap: 30px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      transform: translateX(120%);
      position: fixed;
      width: 50%;
      top: 0;
      right: 0;
      background: #fff;
      z-index: 2;
      row-gap: 32px;
      height: 100vh;
      transition: 0.4s linear;

      &-remove {
        position: fixed;
        top: 36px;
        right: 20px;
        display: block;
      }

      &-item {
        &__link {
          font-family: $font-raleway-5;
          color: $text-color;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%;
        }
      }
    }

    &__checkbox:checked + &__menu {
      transform: translateX(0);
      visibility: visible;
    }

    &__open {
      display: block;
    }

    &__socials {
      margin-right: 5px;
      display: flex;
      column-gap: 15px;
      z-index: 2000;

      &-icon {
        width: 24px;
        height: 24px;
        font-size: 20px;
      }
    }
    &__phone {
      display: flex;
      display: flex;
      align-items: center;
      z-index: 2000;

      &-icon__link {
        width: 22px;
        height: 22px;
        &-img {
          width: 22px;
          height: 22px;
        }
      }
      &-link {
        color: $primary-section-bg;
        font-family: $font-lato-7;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
      }
    }
  }
}
@include for-mobile {
  .container {
    margin: 0 auto;
    padding: 0 20px;
  }
  .navbar {
    &__logo {
      width: 122px;
      height: 53px;
    }
    &__menu {
      column-gap: 30px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      transform: translateX(120%);
      position: fixed;
      width: 50%;
      top: 0;
      right: 0;
      background: #fff;
      z-index: 2;
      row-gap: 32px;
      height: 100vh;
      transition: 0.4s linear;
      &-remove {
        display: block;
      }
    }
    &__checkbox:checked + &__menu {
      transform: translateX(0);
      visibility: visible;
    }
    &__socials {
      display: flex;
      column-gap: 15px;
      &-icon {
        font-size: 15px;
        width: 15px;
        height: 15px;
      }
      &__phone {
        display: flex;
        column-gap: 7px;
        &-link {
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 100%;
          text-transform: uppercase;
          margin-right: 7px;
        }
      }
      &__burger {
        display: block;
        width: 34px;
        height: 34px;
      }
    }
  }
}
@include for-medium-mobile {
  .navbar {
    &__logo {
      z-index: 3200;
    }
    &__menu {
      column-gap: 30px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      transform: translateX(120%);
      position: fixed;
      width: 100%;
      top: 0;
      right: 0;
      background: #fff;
      z-index: 2;
      row-gap: 32px;
      height: 100vh;
    }
    &__socials {
      display: none;
    }
    &__phone {
      display: none;
    }
    &__checkbox:checked + &__menu {
      transform: translateX(0);
      visibility: visible;
    }
  }
}
