.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 93px;
  align-items: center;

  &__logo {
    width: 122px;
    height: 53px;
  }
  &__checkbox {
    display: none;
  }
  &__menu {
    display: flex;
    column-gap: 40px;

    &-item {
      &__link {
        color: $text-color;
        font-family: $font-raleway-5;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        text-decoration: none;
        outline: none;
      }
      &__link:hover {
        color: $primary-btn-bg;
      }
    }
  }

  &__socials {
    display: flex;
    column-gap: 15px;
    &-icon {
      color: $primary-btn-bg;
      width: 24px;
      height: 24px;
      font-size: 20px;
    }
    &-icon:hover {
      color: $text-color;
    }
  }
  &__phone {
    display: flex;
    align-items: center;
    column-gap: 7px;
    &-icon {
      width: 22px;
      height: 22px;

      &__img {
        width: 22px;
        height: 22px;
      }
    }
    &-link {
      color: $primary-section-bg;
      font-family: $font-lato-7;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      text-transform: uppercase;
      outline: none;
      text-decoration: none;
    }
  }
  &__remove {
    display: none;
  }
  &__open {
    display: none;
  }
}
.navbar__checkbox:checked ~ .navbar__remove {
  display: block;
  z-index: 2000;
  position: fixed;
  top: 33px;
  right: 23px;
}

@include for-tablet {
  .container {
    padding: 0 20px;
  }
  .navbar {
    &__logo {
      width: 122px;
      height: 53px;
    }
    &__menu {
      display: flex;
      flex-direction: row;
      column-gap: 30px;

      &-item {
        &__link {
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%;
        }
      }
    }

    &__socials {
      display: flex;
      column-gap: 15px;
      &-link {
        &__icon {
          font-size: 20px;
          color: $primary-btn-bg;
        }
      }
    }
    &__phone {
      display: flex;
      align-items: center;
      &-icon__link {
        width: 22px;
        height: 22px;
      }
      &-link {
        font-size: 16px;
      }
    }
  }
}

@include for-mobile {
  .container {
    padding: 0 20px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    &__menu {
      visibility: hidden;
      width: 50%;
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 25px;
      padding-top: 123px;
      padding-left: 26px;
      top: 0;
      right: 0;
      height: 100vh;
      transform: translateX(120%);
      transition: 0.4s all;
      background: #fff;
      z-index: 1;
    }
    &__open {
      display: block;
    }

    &__socials {
      z-index: 3000;
    }
    &__phone {
      z-index: 3000;
    }
    &__checkbox:checked + &__menu {
      visibility: visible;
      transform: translateX(0);
    }
  }
}

@include for-medium-mobile {
  .navbar {
    &__menu {
      width: 100%;
      background-color: #fff;
      top: 93px;
      padding-top: 100px;
      align-items: flex-start;
    }
    &__socials {
      position: fixed;
      top: 60%;
      left: 6%;
      transform: translateX(1200%);
      transition: 0.4s all;
      visibility: hidden;
    }
    &__checkbox:checked ~ &__socials {
      transform: translateX(0);
      visibility: visible;
    }
    &__phone {
      position: fixed;
      top: 83%;
      left: 6%;

      transform: translateX(500%);
      transition: 0.4s all;
      visibility: hidden;
    }
    &__checkbox:checked ~ &__phone {
      transform: translateX(0);
      visibility: visible;
    }
    &__remove {
      display: none;
    }
    &__checkbox:checked ~ &__open {
      display: none;
    }
  }
}
